<% include header.ejs %>
<section id="error-page">
    <div class="error-page-inner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center">
                        <div class="bg-404">
                            <div class="error-image">
                                <img class="img-responsive" src="img/404.png" alt="">
                            </div>
                        </div>
                        <h2>页面没有找到</h2>
                        <p>你正在寻找的页面可能已经删除、改名。</p>
                        <a href="/" class="btn btn-error">返回到主页
                        </a>
                        <div class="social-link">
                            <span><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=364902005&site=qq&menu=yes"><i class="fa fa-facebook"></i></a></span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>