<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
    <meta name="description" content="">
    <meta name="author" content="">
    <title><%= title %> </title>
   <link href="/css/bootstrap.min.css" rel="stylesheet">
</head><!--/head-->
<body>
<section>
<div class="container">
<h1> Your task</h1>
<% if(docs.length){%>
<table class="table table-striped">
    <tr>
        <th><a href="/tasknew">添加数据</a></th> 
    </tr>
    <tr>
    <th>Task</th>
        <% for(a in docs){%>
        <tr>
            <td> 
            <%=docs[a]%>
            </td>
            <td>
                <a href="/task/<%=docs[a].id%>/edit" class="btn btn-warning">Edit</a>
            </td>
            <td>
                <form action="/task/<%=docs[a].id%>/del" method="post">
                    
                    <button class="btn" type="submit">Delete</button>
                </form>
            </td>

        </tr>
        <%}%>
    </tr>
</table>
<% }else{%>
<p>You dont have any tasks!</p>
<% } %>
</div>
</section>
</body></html>